<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="categories container" th:fragment="categories-list">
    <div class="row">

        <!-- Wyświetlanie kategorii z CategoryRepository -->

        <div th:each="category : ${categories}" class="col s12 l4">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <a th:href="@{'/category/' + ${category.id}}" th:text="${category.name}">Category Name</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wyświetlanie kategorii z CategoryRepository -->

        <!-- KOD 13 Wyświetlanie gifów z formularza-->
        <div th:each="category : ${categories2}" class="col s12 l4">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        <a th:href="@{'/category/' + ${category.id}}" th:text="${category.name}">Category Name</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- KOD 13 Wyświetlanie gifów z formularza-->

        <!-- KOD 12 i 13 DOdawanie nowej kategorii bez bazy danych i z bazą-->
        <h1>Dodaj nową kategorię</h1>

        <form action="/categories" method="post" th:object="${category}">

            <label>Podaj nazwę kategorii</label>
            <input th:field="*{name}"/>

            <input type="submit" value="Dodaj"/>
        </form>

        <!-- KOD 12 i 13 DOdawanie nowej kategorii bez bazy danych -->


</div>
</div>

</body>
</html>